@import url('https://fonts.googleapis.com/css2?family=Exo&family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

/* RODAPÉ */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 100%;
    position: sticky;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1rem solid #ff5c5c;
}
#logo-rodape {
    width: 200px;
    margin: 10px;
}

#logo-rodape:hover {
    opacity: 0.7;
}

.menu-rodape {
    display: flex;
    margin: 20px;
    border-top: 1px solid rgb(102, 102, 102, 0.3);
    border-bottom: 1px solid rgb(102, 102, 102, 0.3);
    padding: 15px;
}

.menu-rodape a {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    font-size: 1.3rem;
}

.menu-rodape a:hover {
    text-decoration: underline;
}

.paragrafo-rodape {
    margin: 10px;
}

#botao-alugue {
    color: #ff5c5c;
}

#botao-alugue:hover {
    text-decoration: underline;
}

.redes {
    margin: 10px;
}
.redes a{
    text-decoration: none;
}
.redes .btn{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.redes .btn:hover{
    width: 200px;
}
.redes .btn .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: black;
    transition: all 0.3s ease-out;
}
.instagram:hover .icon{
    background: #e1306c;
}
.facebook:hover .icon{
    background: #4267B2;
}
.twitter:hover .icon{
    background: #00acee;
}

.redes .btn .icon i{
    font-size: 20px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.redes .btn:hover .icon i{
    color: #fff;
}

.redes .btn span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.5s ease-out;
}
.instagram:hover span{
    color: #e1306c;
}
.facebook:hover span{
    color: #4267B2;
}
.twitter:hover span{
    color: #00acee;
}

/* CABEÇALHO ! */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(83, 82, 82);
}

#logo-header:hover {
    opacity: 0.7;
}

#logo-header > img {
    width: 200px;
    margin: 5px 0px;
}

#menu-header {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#button-header-arrow {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-right: 80px;
    color: black;
}

#button-header-arrow:hover img {
    transform: translateX(10px);
    transition: all 0.4s;
}

#button-header-arrow img {
    width: 25px;
    transition: all 0.4s;
}

#alugue-header { 
    display: flex;
    text-align: center;
    background: #ff5c5c;
    text-decoration: none; 
    transition: all 0.4s;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(83, 82, 82);
}

#alugue-header span {
    align-self: center;
    color: whitesmoke;
}

#alugue-header:hover {
    background: black;
    border-radius: 0px;
    transition: all 0.7s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#list {
    display: none;
}


@media (max-width: 800px) {

#menu-header {
    display: none;
}    

.checkbtn {
    display: block;
}

#list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgb(83, 82, 82);
}

#button-header-arrow {
    margin-right: 0px;
    border-bottom: solid gray 1px;
    padding: 0px 100px 25px 100px;

}

#alugue-header {
    padding: 25px;
}


    #check:checked~#list {
        transform: translateY(0%);
        margin-bottom: 0;
    }

}


/* PÁGINA DE AJUDA */

.main-ajuda {
    align-items: center;
    justify-content: center;
}

#secao-texto-pagina-ajuda {
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    text-align: justify;
}
.titulo-ajuda {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
#secao-duvidas-frequentes {
    display: flex;
    flex-direction: column;
    background-color: #ff5c5c;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
    text-align: justify;
}

.titulo-menor-ajuda {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 50px 0px;
}

#secao-formulario-ajuda {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}
.frase-ajuda {
    max-width: 420px;
    text-align: center;
    margin: 20px 0px;
}
.formulario {
    width: 650px;
    border-radius: 10px;
    margin: auto;
    background-color: #eeeded;
}
.request-form {
    padding: 5vh 5vw;
}
.campo {
    margin-top: 25px;
}
.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 0.875rem;
}
.campo input {
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}
.campo textarea {
    border: 1px solid gray;
    resize: vertical;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}


/* CONTEUDO DA PÁGINA 'nosso-time' */

.imagemBanner img{
    display: flex;
    padding-top: 40px;
    width: 100%;
    height: 400px;
}

.cabec1{
    display: flex;
    padding: 70px;
    color: #ff5c5c;
    font-size: 35px;
}

.cabec2{
    display: flex;
    padding: 120px;
}

.container{
    align-items: center;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.fotoNei{
    float: left;
    width: 750px;
    align-items: center;
    justify-content: center;
}

.fotojoao{
    float: right;
    width: 750px;
    align-items: center;
    justify-content: center;
}
.fotoRafa{
    float: left;
    width: 750px;
    align-items: center;
    justify-content: center;
}

.dadosDaGalera{
    margin-bottom: 200px;
    padding: 20px 10px 40px 30px;
    height: 35vh;
    background-color:#ff5c5c;
    border-radius: 8px;
}

.dadosDaGalera img{
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 90%;
    transition: 1s;
}
a.cargos {
    padding-top: 10px;
    margin-left: 120px;
    position: relative;
    text-decoration: none;
    padding: 0 20px;
    color: white;
    cursor:default;
}

a.cargos:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0%;
    left: 20px;
    bottom: -10px;
    transition: 0.5s;
}
a.cargos:hover:after{
    width: 80%;
}