@import url('https://fonts.googleapis.com/css2?family=Exo&family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

/* RODAPÉ */

footer {
    display: flex;
    flex-direction: column;
    top: 100%;
    position: sticky;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1rem solid #ff5c5c;
}
#logo-rodape {
    width: 25vh;
    margin: 1vh;
}

.menu-rodape {
    margin: 2vh;
    border-top: 1px solid rgb(102, 102, 102, 0.3);
    border-bottom: 1px solid rgb(102, 102, 102, 0.3);
    padding: 1.5vh;
}

.menu-rodape a {
    text-decoration: none;
    color: black;
    padding: 3vh;
    font-size: 1.3rem;
}

#menu-rodape a:hover {
    text-decoration: underline;
}

.paragrafo-rodape {
    margin: 1vh;
}

#botao-alugue {
    color: #ff5c5c;
}

#botao-alugue:hover {
    text-decoration: underline;
}

.redes {
    margin: 1vh;
}
.redes a{
    text-decoration: none;
}
.redes .btn{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.redes .btn:hover{
    width: 200px;
}
.redes .btn .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: black;
    transition: all 0.3s ease-out;
}
.instagram:hover .icon{
    background: #e1306c;
}
.facebook:hover .icon{
    background: #4267B2;
}
.twitter:hover .icon{
    background: #00acee;
}

.redes .btn .icon i{
    font-size: 20px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.redes .btn:hover .icon i{
    color: #fff;
}

.redes .btn span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.5s ease-out;
}
.instagram:hover span{
    color: #e1306c;
}
.facebook:hover span{
    color: #4267B2;
}
.twitter:hover span{
    color: #00acee;
}

